# Python cache
__pycache__/
__pycache__/main.cpython-313.pyc
__pycache__/test_main.cpython-313-pytest-9.0.2.pyc
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Pytest cache
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
